<mat-dialog-actions>
    <div class="dialog">
        <header class="dialog-header">
            <!-- Close button -->
            <button mat-icon-button type="button" color="primary" [mat-dialog-close]="true" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </header>
        <main class="dialog-content">
            <section class="section-header">
                <p>Leage Setup</p>
            </section>
            <form [formGroup]="createLeagueForm">
                <mat-form-field appearance="outline">
                    <mat-label>League Name</mat-label>
                    <input matInput placeholder="League Name" type="text" formControlName="leagueName" #leagueName
                        aria-label="Enter your League Name">
                    <!-- <mat-icon color="primary" matSuffix>people_outline</mat-icon> -->
                    <mat-error
                        *ngIf="createLeagueForm.get('leagueName')?.invalid && createLeagueForm.get('leagueName')?.touched">
                        League name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Game Mode</mat-label>
                    <mat-select placeholder="Game Mode" formControlName="leagueMode" aria-label="Select game mode"
                        #leagueMode>
                        <mat-option value="antifpl">AntiFPL</mat-option>
                        <mat-option value="mystery">Mystery Ball</mat-option>
                        <mat-option value="ynda">YNDA</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="createLeagueForm.get('leagueMode')?.invalid && createLeagueForm.get('leagueMode')?.touched">
                        Game mode is required
                    </mat-error>
                </mat-form-field>

                <!-- <div class='ynda-configs' *ngIf="createLeagueForm.get('gameMode')?.value === 'option3'">
                    <mat-label>Drink Allocations</mat-label>
                    <mat-checkbox formControlName="check1">Drink for coming last</mat-checkbox>
                    <mat-checkbox formControlName="check2">Drink for red cards</mat-checkbox>
                    <mat-checkbox formControlName="check3">Drink for missed penalties</mat-checkbox>
                    <mat-checkbox formControlName="check3">Drink for own goals</mat-checkbox>


                    <mat-label>Other Settings</mat-label>
                    <mat-checkbox formControlName="check1">Enable Random Nominations</mat-checkbox>
                    <mat-checkbox formControlName="check2">Enable Uno Reverse Cards</mat-checkbox>
                    <mat-checkbox formControlName="check3">Drink for missed penalties</mat-checkbox>
                    <mat-checkbox formControlName="check3">Drink for own goals</mat-checkbox>
                </div> -->

                <mat-form-field appearance="outline">
                    <mat-label>Privacy Settings</mat-label>
                    <mat-select placeholder="Privacy" formControlName="leaguePrivacy"
                        aria-label="Select Privacy Settings" #leaguePrivacy>
                        <mat-option value="private">Private, admin approves new entries</mat-option>
                        <mat-option value="public">Public, anyone can join</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="createLeagueForm.get('leaguePrivacy')?.invalid && createLeagueForm.get('leaguePrivacy')?.touched">
                        Privacy setting is required
                    </mat-error>
                </mat-form-field>


                <div class="button-row">
                    <button mat-raised-button type="button" color="primary" [disabled]="createLeagueForm.invalid"
                        (click)="leagueService.createAndJoinLeague(leagueName.value, leagueMode.value, leaguePrivacy.value, leagueService.userInfoData.uid)"
                        aria-label="Create League">Create League</button>
                </div>
            </form>
        </main>
    </div>
</mat-dialog-actions>