.dialog-content {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    flex-direction: column;
    padding: 20px;
    /* Add padding */
}

.dialog-header {
    display: flex;
    justify-content: flex-end;
    /* Center horizontally */

}

/* Adjust typography */
.mat-form-field,
.mat-raised-button {
    width: 100%;
}

.dialog-content mat-form-field {
    width: 100%;
}

.button-row {
    display: flex;
    width: 100%;
    justify-content: center;
    /* Center horizontally */
    margin-bottom: 20px;
    /* Add margin bottom */
}