package components

templ InitLeague(leagueID string) {
	<div class="p-5">
		<h2 class="font-bold">This league hasn't been linked yet</h2>
		<p>Would you like to link it and become the admin?</p>
		<div class="card-actions justify-end">
			<button class="btn btn-xs btn-primary" name="leagueInitID" type="submit" hx-post="/app/intialise_league" value={ leagueID }>Yes</button>
			<button class="btn btn-xs ">No</button>
		</div>
	</div>
}
