package components

templ Statbar() {
	<div class="stats shadow my-5">
		<div class="stat">
			<div class="stat-title">Cards Received</div>
			<div class="stat-value">31K</div>
			<div class="stat-desc">Jan 1st - Feb 1st</div>
		</div>
		<div class="stat">
			<div class="stat-title">Cards Given</div>
			<div class="stat-value">4,200</div>
			<div class="stat-desc">↗︎ 400 (22%)</div>
		</div>
	</div>
}
