package components

import "strconv"

templ Statbar(gw int, manager, team string) {
	<div class="stats shadow my-5">
		<div class="stat place-items-center">
			<div class="stat-title">Game Week { strconv.Itoa(gw) } Winner</div>
			<div class="stat-value">{ manager }</div>
			<div class="stat-desc">{ team }</div>
		</div>
	</div>
}
