<div class="page-container">
    <div class="page-card-content">
        <mat-card>
            <nav>
                <button  mat-icon-button colour="primary" (click)="goBack()">
                  <mat-icon>arrow_back</mat-icon>
                </button>
            </nav>
            <div class="logo-welcome-container">
                <div class="logo-container">
                    <img src="../../../../assets/images/logo-blue.svg" alt="Logo">
                </div>
            </div>
            <mat-card-header class="message">Please enter your email address to request a password reset.</mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="outline" required>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" type="text" #passwordResetEmail required>
                    <mat-icon color="primary" matSuffix>mail_outline</mat-icon>
                </mat-form-field>
                <div class="button-row">
                    <button mat-raised-button (click)="authService.ForgotPassword(passwordResetEmail.value)" color="primary">Send Email</button>
                </div>
            </mat-card-content>
            <div class="resend">
                <span class="account-message">Go back to</span>
                <button mat-button color="primary" routerLink="/login">Login?</button>
            </div>
        </mat-card>
    </div>
</div>