<div class="body-content">
    <div class="max-width-container">
        <div class="card-container">
            <mat-card class="profile-card">
                <mat-card-header>
                    <div class="card-header-content">
                        <span>Profile</span>
                        <button style="color: rgba(0, 0, 0, 0.54);" mat-icon-button mat-icon-button [matMenuTriggerFor]="profileSettings">
                            <mat-icon>settings</mat-icon>
                        </button>
                        <mat-menu #profileSettings="matMenu">
                            <mat-dialog-actions>
                                <button  mat-menu-item (click)="openTeamIdDialog()">
                                    <mat-icon style="color: rgba(0, 0, 0, 0.54);">edit</mat-icon>
                                    Edit FPL Details
                                  </button>
                            </mat-dialog-actions>

                            
                            <button mat-menu-item>
                              <mat-icon style="color: rgba(0, 0, 0, 0.54);">share</mat-icon>
                              Invite Friends
                            </button>

                            <button mat-menu-item>
                                <mat-icon style="color: rgba(0, 0, 0, 0.54);">help_outline</mat-icon>
                                Help
                              </button>

                            <div class="signout-container">
                              <button mat-raised-button (click)="authService.SignOut()" color="primary">Sign Out</button>
                            </div>
                          </mat-menu>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="manager-details">
                        <!-- <p>Manager: {{ authService.userInfoData.playerFullName ? authService.userInfoData.playerFullName : 'Not set' }}</p>
                        <p>Team: {{  authService.userInfoData.teamName ? authService.userInfoData.teamName : 'Not set' }}</p>
                        <p>Team ID: {{ authService.userInfoData.teamID ? authService.userInfoData.teamID : 'Not set' }}</p> -->
                    </div>

                    <div class="create-buttons">
                        <button mat-stroked-button color="primary"><mat-icon colour="primary">add_circle_outline</mat-icon>Create League</button>
                        <button mat-raised-button color="primary" (click)="userInfoService.testBackend()"><mat-icon>group_add</mat-icon>Join League</button>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="league-card">
                <mat-card-content>
                    <p>League card</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="explore-card">
                <mat-card-content>
                    <p>Explore card</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

