/* Container for Max Width */
.max-width-container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    justify-content: center;
    height: calc(100vh - 64px);
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.profile-card,
.league-card,
.explore-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px; /* Applying equal margin on all sides */
}

.profile-card {
    height: 25vh;
}

.league-card {
    height: 35vh;
}

.explore-card {
    height: 30vh;
}

.card-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Full width */
}

.card-header-content span {
    font-weight: bold;
    color:  #2962FF;
}

.mat-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 599px) {
    .max-width-container {
        height: calc(100vh - 56px);
    }

    .card-container {
        width: 100%;
    }
}


/* Signout Container Styles */
.signout-container {
    display: flex;
    justify-content: center;
  }

.manager-details {
    color: rgba(0, 0, 0, 0.54);
    font-weight: bold;
}