/* Container for Max Width */
.max-width-container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    justify-content: space-between;
    margin: auto;
    justify-content: center;
  }


.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100vh;
}

.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
}

.league-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
}

.explore-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
}

.card-header-content {
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
}

.card-header-content span {
    font-weight: bold;
    color: blue;
}

.mat-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
