.body-content {
    height: 50px;
    background-color: #979797;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.item-1 {
    height: 100px;
    background-color: #c2c8fe;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-2 {
    height: 200px;
    background-color: #0001c0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-3 {
    height: 400px;
    background-color: #ff1d40;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}