<div class="body-content">
    <div class="max-width-container">
        <div class="card-container">
            <mat-card class="profile-card">
                <mat-card-header>
                    <div class="card-header-content">
                        <span>Profile</span>
                        <button style="color: rgba(0, 0, 0, 0.54);" mat-icon-button mat-icon-button [matMenuTriggerFor]="profileSettings">
                            <mat-icon>settings</mat-icon>
                        </button>
                        <mat-menu #profileSettings="matMenu">
                            <button mat-menu-item>
                              <mat-icon>edit</mat-icon>
                              Edit Team ID
                            </button>

                            <button mat-menu-item>
                              <mat-icon>people_outline</mat-icon>
                              Create League
                            </button>
                            
                            <button mat-menu-item>
                              <mat-icon>share</mat-icon>
                              Invite Friends
                            </button>

                            <button mat-menu-item>
                                <mat-icon>help_outline</mat-icon>
                                Help
                              </button>

                            <div class="signout-container">
                              <button mat-raised-button (click)="authService.SignOut()" color="primary">Sign Out</button>
                            </div>
                          </mat-menu>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <p>Profile Content</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="league-card">
                <mat-card-content>
                    <p>League card</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="explore-card">
                <mat-card-content>
                    <p>Explore card</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

