.app-header {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.max-width-container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    justify-content: space-between;
    margin: auto;
}

.toolbar {
    flex: 1;
  }
  
  .unauthenticated-header,
  .authenticated-header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

/* Styles for the logo container */
.logo-container {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    margin-bottom: 0px; /* Adjust spacing between logo and form */
    cursor: pointer;
  }
  
  /* Styles for the logo image */
  .logo-container img {
    max-width: 250px; /* Adjust the maximum width of the logo */
    height: auto;
  }

  .collapsed-content {
    display: none;
}

.signout-container {
  display: flex;
  justify-content: center;
}

  /* General button styles */
.expanded-buttons .mat-mdc-button-base,
.collapsed-buttons button {
    margin: 8px; /* Apply margin to buttons */
}

/* Collapsed menu styles */
@media screen and (max-width: 900px) {
    .menu-button,
    .expanded-buttons {
        display: none;
    }

    .collapsed-content {
        display: block;
    }
    /* Make the logo 50% smaller */
    .logo {
        max-width: 10%;
        height: auto;
    }

}