<button mat-icon-button [matMenuTriggerFor]="profile">
    <mat-icon>perm_identity</mat-icon>
</button>
<mat-menu #profile="matMenu">
    <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        Edit Team ID
    </button>
    <button mat-menu-item>
        <mat-icon>people_outline</mat-icon>
        Create League
    </button>
    <button mat-menu-item>
        <mat-icon>share</mat-icon>
        Invite Friends
    </button>
    <div class="signout-container">
        <button mat-raised-button (click)="authService.SignOut()" color="primary">Sign Out</button>
    </div>
</mat-menu>