<mat-dialog-actions>
    <div class="dialog">
        <header class="dialog-header">
            <!-- Close button -->
            <button mat-icon-button type="button" color="primary" [mat-dialog-close]="true" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </header>
        <main class="dialog-content">
            <form [formGroup]="leagueForm">
                <mat-form-field appearance="outline">
                    <mat-label>League Code</mat-label>
                    <input matInput placeholder="League Code" type="text" formControlName="leagueCode" #leagueCode
                        aria-label="Enter your League Code">
                    <mat-icon color="primary" matSuffix>text_fields</mat-icon>
                    <mat-error *ngIf="leagueForm.get('leagueCode')?.invalid && leagueForm.get('leagueCode')?.touched">
                        League Code is required
                    </mat-error>
                </mat-form-field>

                <div class="button-row">
                    <button mat-raised-button type="button" color="primary" [disabled]="leagueForm.invalid"
                        (click)="leagueService.addUserLeague(leagueService.userInfoData.uid, leagueCode.value)"
                        aria-label="Create League">Join League</button>
                </div>
            </form>
        </main>
    </div>
</mat-dialog-actions>