.dialog-content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
  padding: 20px; /* Add padding */
}

.dialog-header{
  display: flex;
  justify-content: flex-end; /* Center horizontally */

}

.top-content {
  display: flex;
  width: 100%;
  justify-content: center; /* Center horizontally */
  margin-bottom: 20px; /* Add margin bottom */
}

.help-row {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  margin-top: 20px;
}

.mat-accordion {
  width: 100%; /* Ensure full width */
}

/* Adjust typography */
.mat-form-field, .mat-raised-button {
  width: 100%;
}

.styled-list {
  list-style-type: none;
  counter-reset: list-counter;
  padding: 0;
}

.styled-list li {
  counter-increment: list-counter;
  margin-bottom: 10px; /* Adjust spacing */
}

.styled-list li::before {
  content: counter(list-counter) ".";
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
  margin-right: 5px;
}

.styled-list a,
.styled-list strong {
  color: #2962FF; /* Blue color */
}

.button-row {
  display: flex;
  width: 100%;
  justify-content: center; /* Center horizontally */
  margin-bottom: 20px; /* Add margin bottom */
}

.find-team-section {
  color: #2962FF; 
  font-weight: bold;
  font-size: 16px;
}

.details-buttons {
  display: flex;
  width: 100%;
  justify-content: center; /* Center horizontally */
}

.question {
  color: #2962FF; 
  font-weight: bold;
  font-size: 16px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.details-check {
  border-radius: 16px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}