<div class="page-wrapper">
  <div class="max-width-container">

    <mat-card class="welcome-card">
      <mat-card-content>
        <p class="welcome-text">Welcome to OffsideFPL!</p>
        <p class="slogan-text">Where The Tactics Are Kept Onside But The Banter... Isn’t</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="game-mode-card">
      <img class="card-image" src="../../../../assets/images/anti.svg" alt="Image" style="height: auto;">
    </mat-card>


    <div class="button-row">
      <button mat-raised-button routerLink="/register">SIGN UP</button>
      <button mat-raised-button routerLink="/login">LOGIN</button>
    </div>


  </div>
</div>