.page-wrapper {
    min-height: 100vh;
    background-color: #2962FF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container for Max Width */
.max-width-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.welcome-card {
    margin-bottom: 50px;
    width: 80%;
    background-color: white;
    border-radius: 16px;
}

.game-mode-card {
    margin-bottom: 50px;
    width: 80%;
    background-color: white;
    border-radius: 16px;
    padding: 0px
}

.welcome-text {
    color: #2962FF;
    font-size: 24px;
}

.card-image {
    border-radius: 16px;
    border-color: rgb(255, 255, 255, 0.54);
    border-width: 1px;
    border-style: solid;
}



.slogan-text {
    color: #2962FF;
    font-size: 18px;
}

.button-row {
    width: 50%;
    display: flex;
    justify-content: space-between;
}