<header>
  <div class="page-wrapper">
    <mat-toolbar color="primary" class="navigation-toolbar">
      <div class="max-width-content">
        <div class="logo-container">
          <img class="logo" src="../../assets/images/logo-white.svg" alt="Logo">
        </div>
        <nav>
          <button mat-icon-button [matMenuTriggerFor]="profile">
            <mat-icon>perm_identity</mat-icon>
          </button>
          <mat-menu #profile="matMenu">
            <!-- Edit Team ID Menu Item -->
            <button mat-menu-item (click)="showTeamIdCard()">
              <mat-icon>edit</mat-icon>
              Edit Team ID
            </button>

            <button mat-menu-item>
              <mat-icon>people_outline</mat-icon>
              Create League
            </button>

            <button mat-menu-item>
              <mat-icon>share</mat-icon>
              Invite Friends
            </button>

            <!-- Sign Out Button -->
            <div class="collapsed-button-container">
              <button mat-raised-button (click)="authService.SignOut()" color="primary">Sign Out</button>
            </div>
          </mat-menu>
        </nav>
      </div>
    </mat-toolbar>

    <!-- Card for Edit Team ID -->
    <mat-card *ngIf="showCard" class="edit-team-card">
      <!-- Your card content goes here -->
      <mat-card-content>
        <p>Edit Team ID content goes here...</p>
        <mat-form-field  *ngIf="authService.userData as user" appearance="outline" required>
                    <mat-label>Email</mat-label>
                    <input matInput [placeholder]="user.teamID ? user.teamID : 'Team ID'" type="text" #teamID>
                    <mat-icon color="primary" matSuffix>mail_outline</mat-icon>
                </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="hideTeamIdCard()">Hide Card</button> <!-- will later become save button -->
      </mat-card-actions>
    </mat-card>
  </div>
</header>
